</div>
<div class="row carousel">

</div>

<section class="marketing">
<div class="container">
  <div class="row"></div>
  <div class="col-sm-4 col-md-4 text-center">
    <h3>Buy and sell</h3>
  </div>
  <div class="col-sm-4 col-md-4 text-center">
    <h3>Buy and sell</h3>
  </div>
  <div class="col-sm-4 col-md-4 text-center">
    <h3>Buy and sell</h3>
  </div>
  </div>
</section>

<div class="container">
  <span class="glyphicon glyphicon-gift icon-center"></span>
  <h3 class="text-center">Check out some of the latest products</h3>
</div>



<div class="container">
<div class="row">

<% @selection.each do |product| %>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail selection">
      <% if product.uploads.any? %>
        <%= link_to image_tag(product.uploads.first.image.url(:medium)), product_path(product) %>
      <% end %>
      <div class="caption">
        <h4><%= product.name %></h4>
      </div>
    </div>
  </div>
<% end %>


</div>
</div>
</div>


