</div>
<div class="row carousel">

</div>

<section class="marketing">
<div class="container">
  <div class="row"></div>
  <div class="col-sm-4 col-md-4 text-center">
    <i class="icon-picture"></i>
    <h4>Enjoy a selection of unique product, handmades, in limited series that  you won't find anywhere else</h4>
  </div>
  <div class="col-sm-4 col-md-4 text-center">
    <i class="icon-earth-globe-streamline"></i>
    <h4>Our products come from all over the world. </h4>
  </div>
  <div class="col-sm-4 col-md-4 text-center">
    <i class="icon-computer-imac"></i>
    <h4>And all from the confort of your own home. We have also worked hard so that you can browse aour website in your tablet and phone.</h4>
  </div>
  </div>
</section>

<div class="container">
  <span class="glyphicon glyphicon-gift icon-center"></span>
  <h3 class="text-center">Check out some of the latest products</h3>
</div>



<div class="container">
<div class="row">

<div id="products" class="transitions-enabled">
  <% @selection.each do |product| %>
    <div class="box panel panel-default">
      <% if product.uploads.any? %>
        <%= link_to image_tag(product.uploads.first.image.url(:medium)), product_path(product) %>
      <% end %>
      <div class="panel-body">
        <h5><%= product.name %></h5>
      </div>
    </div>
  <% end %>
</div>


</div>
</div>
</div>


