<div class="row">
  <%= image_tag "store.jpg", class: "carousel"%>
  
</div>

<div class="container">
  <span class="glyphicon glyphicon-gift icon-center"></span>
  <h3 class="text-center">Encuentra hermosos regalos para esta navidad</h3>
</div>


<div class="container">
<div class="row">
  
    <div class="col-xs-6 col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
  
  <div class="col-xs-6 col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
    
</div>
</div>


