<nav class="progress">
  <ol>
    <li class="active"><a href="/cart">Your basket</a></li>
    <li>Delivery details</li>
    <li>Confirm order</li>
    <li>Payment</li>
  </ol>
  <span>25% complete</span>
</nav>

<div class="row shadow-wrapper">
  <div class="col-sm-12 col-md-10 col-md-offset-1" id="mycart">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      <% @cart_products.each do |product|%>
        <tr>
          <td class="col-sm-8 col-md-6 cart-product">
          <div class="media">
            <%= link_to image_tag(product.uploads.first.image.url(:thumb)), product_path(product) %>
            <div class="media-body">
              <h4 class="media-heading"><a href="#"><%= product.name %></a></h4>
            </div>
          </div></td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
            <input type="email" class="form-control" id="exampleInputEmail1" value="3">
            </td>
            <td class="col-sm-1 col-md-1 text-center"><strong>$<%= product.price %></strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
            <td class="col-sm-1 col-md-1">
            <%=link_to remove_from_cart_path(product), method: :put do%>
            <span class="glyphicon glyphicon-trash"></span> Remove
            <%end%>
            </td>
        </tr>
        <% end %>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td><h5>Subtotal</h5></td>
          <td class="text-right"><h5><strong>$24.59</strong></h5></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td><h5>Estimated shipping</h5></td>
          <td class="text-right"><h5><strong>$6.94</strong></h5></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong>$31.53</strong></h3></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td>
          <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
          </button></td>
          <td>
          <button type="button" class="btn btn-success">
              Checkout <span class="glyphicon glyphicon-play"></span>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
