
  <div class="row shadow-wrapper">
    <h3>Users</h3>
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
