<div id="products" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box panel panel-default">
      <% if product.uploads.any? %>
        <%= link_to image_tag(product.uploads.first.image.url(:medium)), product_path(product) %>
      <% end %>
      <div class="panel-body">
        <h5><%= product.name %></h5>
        <p class="pull-right">$<%= product.price %></p>
      </div>
    </div>
  <% end %>
</div>
