<div id="products" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box panel panel-default">
      <% if product.uploads.any? %>
        <%= link_to image_tag(product.uploads.first.image.url(:medium)), product_path(product) %>
      <% end %>
      <div class="panel-body">
        <%= product.price %>
        <%= product.user.name %>
      </div>
    </div>
  <% end %>
</div>
